

.container{

    min-width: 98% ;
    gap: 1%;
    display: grid;
   /* grid-template-columns: repeat(3, 1fr);*/
    /* border: 1px solid black; */
    grid-template-areas: "nav  "
                         "header "
                         "section "
                         "section2 "
                         "section3 "
                         "fin ";

}

.item1 { grid-area: nav;
     height: 15vh;

    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    
  

     }
     nav{ 
        /* border: 1px solid aqua; */
        height: 100px;
        width: 80vw;
        
        display: flex;align-items: center;
        }
        nav ul{
            display:  flex; 
            width: 100vw;
            gap: 3vw;
            justify-content:right;
           
            }

      nav li {
        list-style: none;
        float: left;
      }

      nav  a{ font-size: 19px; font-family: sans-serif; opacity: .8;}
      
      /* .nav div a:nth-child(1){ color:#8E7BEF} */
      
       nav  a:visited{text-decoration:none; color:black}
       nav a:link{text-decoration: none; color: black;} 
       nav  a:hover{color:#8E7BEF}


       .item1 #hambu{display: none;}

/*2section*/


 .item2 {  grid-area: header;
            /* border: 1px solid orange; */
            height: auto;
            display: flex; 
            align-items: center;
            justify-content: center;
            width: 100%;
           }       
            
.box{ 
    display: grid;
    padding-top: 20px;
    padding-bottom: 100px;
    height: 600px;
   
    /* border: 1px solid black; */
    grid-template-areas: 
            "div menu"
            "div2 menu"
            "div3 menu"
            "div4 menu"
            "div5 menu";
          
    width: 80vw;
    
    
}
/* .box > div{ border: 1px solid black;} */
.div1{font-family: 'Roboto', sans-serif;font-size: 100px; grid-area: div;

    font-weight: 700; 
}
.div2{font-family: arial;font-size: 35px;grid-area: div2;} 
.div3{font-family: arial;font-size: 30px;grid-area: div3;}
.opaco{ opacity: .5;}
.em{color:#8e7bef; }
.box div:nth-child(4){
    /* border: 1px solid rgb(0, 255, 85);  */
    grid-area: div4;
    display: flex; 
    gap: 5%;
    height:5vw; 
   
}


/* .box div:nth-child(5){border: 1px solid yellow;} */


/* .boton{display: flex; gap: 12%; align-items: center;} */

.bot{ 

    background-color: #8E7BEF;
     color: white;
    padding: 2% 17%; font-size: 20px;
    display: flex; gap: 10%; border:none;
}

.bot img { height: 25px;}
.div6{ 
    grid-area: menu;
    height: 70vh;
    width: 32vw;
    /* border: 1px solid black; */
    background-image: url(photo2.png);
    background-size: cover;
    
}






/*2final section*/








/*section 3*/


.item3 { grid-area: section;
    
    background-color: #fcda68;
    /* border: 1px solid rgb(231, 13, 13); */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-right: -25px;margin-left: -20px;
    

}


.hanckook{
    height: 90%;
    width: 80vw;
    /* border: 1px solid rgb(31, 219, 6); */
    display: grid;
    grid-template-areas: "tittle  Exp"
                         "bom  bom"
                         "bomi  bomi";
                         
           grid-template-columns: .8fr 1fr;
           grid-template-rows: 1fr .5fr 1fr            

}

.boxi{ 
    grid-area: tittle;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
   

    
}
.boxi div:nth-child(1){ color: rgb(5, 5, 5);
    font-family: 'Roboto', sans-serif;font-size: 60px; grid-area: div;

    font-weight: 500;

}
.boxi div:nth-child(2){ color: rgb(16, 15, 17); font-size: 30px;}
.boxi > div{
 flex: auto;
 /* border: 1px solid rgb(226, 18, 18); */
}

.datas{display: grid;
       grid-template-areas: 
       "fecha tittle"
       "fecha tittle2";
       grid-template-columns: .5fr 1fr;
    }

    .boxii div:nth-child(1){font-size: 2rem;  font-weight: 800; }
    .boxii div:nth-child(2){font-size: 3rem;} 
    
/* .datas>div{border: 1px solid rgb(226, 13, 13);} */
.boxii .datas div:nth-child(1){grid-area: fecha; display: flex;align-items: center;color: rgb(14, 13, 13);border-bottom: 1px solid black;font-size: 25px;font-weight: 300;}
.boxii .datas div:nth-child(2){grid-area: tittle;display: flex;align-items: flex-end;font-size: 25px;  font-weight: 800;}
.boxii .datas div:nth-child(3){grid-area: tittle2;display: flex;align-items: flex-start;font-size: 25px;border-bottom: 1px solid black;}


.data{display: grid;
    grid-template-areas: 
    "fecha tittle"
    "fecha tittle2";
    grid-template-columns: .5fr 1fr;
 }
 /* .data>div{border: 1px solid rgb(226, 13, 13);} */
.boxii .data div:nth-child(1){grid-area: fecha; display: flex;align-items: center;color: rgb(12, 11, 11);border-bottom: 1px solid black;font-size: 25px;font-weight: 300;}
.boxii .data div:nth-child(2){grid-area: tittle;display: flex;align-items: flex-end;font-size: 25px; font-weight: 800;}
.boxii .data div:nth-child(3){grid-area: tittle2;display: flex;align-items: flex-start;font-size: 25px;border-bottom: 1px solid black;}

.dat{display: grid;
    grid-template-areas: 
    "fecha tittle"
    "fecha tittle2";
    grid-template-columns: .5fr 1fr;
 }
 /* .dat>div{border: 1px solid rgb(226, 13, 13);} */
.boxii .dat div:nth-child(1){grid-area: fecha; display: flex;align-items: center;color: rgb(15, 15, 15);font-size: 25px;font-weight: 300;}
.boxii .dat div:nth-child(2){grid-area: tittle;display: flex;align-items: flex-end;font-size: 25px; font-weight: 800;}
.boxii .dat div:nth-child(3){grid-area: tittle2;display: flex;align-items: flex-start;font-size: 25px;}




.boxii{ 
    grid-area: Exp;
    /* border: 1px solid black; */
    display: grid;
    
}

.boxii > div{
    flex: auto;
    /* border: 1px solid black; */
   }

.bom{ 
    grid-area: bom;
    /* border: 1px solid orange; */
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:  4rem;
    font-weight: 700;
}



.boxiii
{
    grid-area: bomi;  display:flex; align-items: center;justify-content: center;
    

}
.nu{
    height: 90%;width: 75%;
    /* border: 1px solid rgb(79, 5, 177); */
    display: flex;
    align-items: center; justify-content: center;
    gap: 10%;
    text-align: center;
    font-size: 15px;
    font-weight: 550;
}
.nu div {
         height: 80%;
         width: 90%;}






/*fin section 3*/


/*section 4 */

.item4 { grid-area: section2;
    
     height: 60vh;
     
     display: flex;
     justify-content: center;
     align-items: center; }





     .bukele{
        height: 90%;
        width: 80vw;
       
        display: grid;
        grid-template-areas: "secto "
                             "mafu  "
                            ;
        
        grid-template-rows: .5r 1fr;          
        
        }


    .secto{
        grid-area: secto;
       
        font-weight: 700;
        font-size: 40px;
    }
    .mafu{
        grid-area: mafu;
       
       display: flex;
      gap: 10%;
      
    }
   .mafu  img { height: 14vw;}
   .mafu  p { font-size: 30px;  color: #8e7bef;}

/*section 4 */


/*setion 5*/
     
.item5 { grid-area: section3;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
       
    
     }

     .conti{
        height: 90%;
        width: 80vw;
        
        
      
     }

     .tit{
        grid-area: sec;
      
        font-size: 40px;
        font-weight: 700;
     }
     
       
    
     .conts{
        
            grid-area: maf;
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap:9%
        
    }  

    .conts > div{
        height: 80%;
        width: 20%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         padding-top: 70px;
       
    }

 .a{font-weight: 700;}
.item5 img{ background-color: rgb(255, 79, 196,0.1);border-radius: 10px;
    height: 8vh;}


/* fin setion 5*/


.item6 { grid-area: fin;
    
    height: 100%; 
      display: flex;
      justify-content: center;
      align-items: center;
}








