

.container{

    width: 98% ;
    display: grid;
   /* grid-template-columns: repeat(3, 1fr);*/
    /* border: 1px solid black; */
    grid-template-areas: "nav  "
                         "header "
                         "section "
                         "section2 "
                         "section3 "
                         "fin ";

}

.item1 { grid-area: nav;
    height: 100px;
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  

     }
     .aite{ 
        /* border: 1px solid rgb(200, 255, 0); */
        height: 60%;
        width: 75vw;
        display: grid;
        align-items: center;
        justify-content: right;
       
       
     }
     .nav{
        /* border: 1px solid black; */
        display: flex;
        gap: 3rem;
        }
  
      .nav > div{ font-size: 20px; font-family: sans-serif;}
      .nav div:nth-child(1){ color:blueviolet}
      .nav div:hover{color:blueviolet}




/*2section*/


 .item2 {  grid-area: header;
    /* background-color: #8E7BEF; */
           
            height: auto;
            display: flex; 
            align-items: center;
            justify-content: center;
            width: 98vw;
            
            
           }       
            
.box{ 
    display: grid;
    padding-top: 20px;
    padding-bottom: 100px;
    height: 600px;
   
 
    grid-template-areas: 
            "div menu"
            "div2 menu"
            "div3 menu"
            "div4 menu"
            "div5 menu";
          
    width: 72vw;
    
    
}


.div1{font-family: 'Roboto', sans-serif;font-size: 80px; grid-area: div;

    font-weight: 700; 
}
.div2{font-family: arial;font-size: 25px;grid-area: div2;} 
.div3{font-family: arial;font-size: 30px;grid-area: div3;}
.opaco{ opacity: .5;}

.box div:nth-child(4){ grid-area: div4;
   
    display: flex; 
    gap: 5%;
    height:5vw; 
   
}



.em{color:#8e7bef;  
}

/* .boton{display: flex; gap: 12%; align-items: center;} */
.div6{ 
    grid-area: menu;
    height: 70vh;
    width: 35vw;
   
    background-image: url(photo2.png);
    background-size: cover;
    
}
.bot{ 

    background-color: #8E7BEF;
     color: white;
      padding: 2% 17%; font-size: 20px;
    display: flex; gap: 10%;
}







/*2final section*/








/*section 3*/


.item3 { grid-area: section;
    
    background-color: #fcda68;
    
    height: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
   margin: -10px;
  

}


.hanckook{
    height: 90%;
    width: 72vw;
    
    display: grid;
    
    grid-template-areas: "tittle  Exp"
                         "bom  bom"
                         "bomi  bomi";
                         
           grid-template-columns: .8fr 1fr;
           grid-template-rows: 1fr .5fr 1fr            

}

.boxi{ 
    grid-area: tittle;
   
    display: flex;
    flex-direction: column;
   

    
}
.boxi div:nth-child(1){ color: rgb(5, 5, 5); font-size: 60px;}
.boxi div:nth-child(2){ color: rgb(16, 15, 17); font-size: 20px;}
.boxi > div{
 flex: auto;
 
}

.datas{display: grid;
       grid-template-areas: 
       "fecha tittle"
       "fecha tittle2";
       grid-template-columns: .5fr 1fr;
    }

    .boxii div:nth-child(1){font-size: 2rem;}
    .boxii div:nth-child(2){font-size: 3rem;} 
    

.boxii .datas div:nth-child(1){grid-area: fecha; display: flex;align-items: center;color: gray;border-bottom: 1px solid black;}
.boxii .datas div:nth-child(2){grid-area: tittle;display: flex;align-items: flex-end;font-size: 25px;}
.boxii .datas div:nth-child(3){grid-area: tittle2;display: flex;align-items: flex-start;font-size: 25px;border-bottom: 1px solid black;}


.data{display: grid;
    grid-template-areas: 
    "fecha tittle"
    "fecha tittle2";
    grid-template-columns: .5fr 1fr;
 }

.boxii .data div:nth-child(1){grid-area: fecha; display: flex;align-items: center;color: gray;border-bottom: 1px solid black;}
.boxii .data div:nth-child(2){grid-area: tittle;display: flex;align-items: flex-end;font-size: 25px;}
.boxii .data div:nth-child(3){grid-area: tittle2;display: flex;align-items: flex-start;font-size: 25px;border-bottom: 1px solid black;}

.dat{display: grid;
    grid-template-areas: 
    "fecha tittle"
    "fecha tittle2";
    grid-template-columns: .5fr 1fr;
 }

.boxii .dat div:nth-child(1){grid-area: fecha; display: flex;align-items: center;color: gray;}
.boxii .dat div:nth-child(2){grid-area: tittle;display: flex;align-items: flex-end;font-size: 25px;}
.boxii .dat div:nth-child(3){grid-area: tittle2;display: flex;align-items: flex-start;font-size: 25px;}




.boxii{ 
    grid-area: Exp;
   
    display: grid;
    
}

.boxii > div{
    flex: auto;
   
   }

.bom{ 
    grid-area: bom;
    
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:  4rem;
}



.boxiii{grid-area: bomi;  display:flex; align-items: center;justify-content: center;
    

}
.nu{
    height: 90%;width: 72%;
    
    display: flex;
    align-items: center; justify-content: center;
    gap: 10%;
    text-align: center;
    font-size: 20px;
}
.nu div {
         height: 72%;
         width: 90%;}






/*fin section 3*/


/*section 4 */

.item4 { grid-area: section2;
     
     height: 60vh;
     display: flex;
     justify-content: center;
     align-items: center; }





     .bukele{
        height: 90%;
        width: 72vw;
       
        display: grid;
        grid-template-areas: "secto "
                             "mafu  "
                            ;
        
        grid-template-rows: .5r 1fr;          
        
        }


    .secto{
        grid-area: secto;
       
     
        font-size: 40px;
    }
    .mafu{
        grid-area: mafu;
        
       display: flex;
      gap: 8%;
      
    }
   .mafu  img { min-width:  13vw;}
   .mafu  p { font-size: 30px;  color: #8e7bef;}

/*section 4 */


/*setion 5*/
     
.item5 { grid-area: section3;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
       
    
     }

     .conti{
        height: 90%;
        width: 72vw;
       
      
     }

     .tit{
        grid-area: sec;
       
        font-size: 40px;
     }
     
       
    
     .conts{
        
            grid-area: maf;
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap:9%
        
    }  

    .conts > div{
        height: 80%;
        width: 20%;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         padding-top: 70px;
        
    }

 

.item5 img{  background-color: rgba(226, 225, 225, 0.836);border-radius: 10px;
    height: 60px;}


/* fin setion 5*/


.item6 { grid-area: fin;
    
    height: 100%; 
      display: flex;
      justify-content: center;
      align-items: center;
}








